.jumbotron {
	background-color: steelblue;
}

body {
	background-color: white;
}

.panel-heading {
	background-color: blue;
}

.panel > .panel-heading {
    background-image: none;
    background-color: steelblue;
    color: black;

}